In [12]:
import pandas as pd
file = pd.read_csv("food_cleaning.CSV")
print("Type of file is :: ",type(file))
print("\n")
print(file)

Type of file is ::  <class 'pandas.core.frame.DataFrame'>


    Ingredient Sweetness  Crunchiness   FoodType
0        apple        10            9      fruit
1        bacon         1            4    protein
2       banana        10            1      fruit
3       carrot         7           10  vegetable
4       celery       NaN           10  vegetable
5       cheese         1            1    protein
6     cucumber         2            8  vegetable
7         fish         3            1        123
8        grape         8            5      fruit
9   green bean         3            7  vegetable
10     lettuce        AA            9  vegetable
11        nuts         3            6    protein
12      orange         7            3      fruit
13        pear        10            7      fruit
14      shrimp         2            3    protein
15      shrimp         2            3    protein
16      banana        10            1      fruit

In [15]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ingredient   17 non-null     object
 1   Sweetness    16 non-null     object
 2   Crunchiness  17 non-null     int64
 3   FoodType     17 non-null     object
dtypes: int64(1), object(3)
memory usage: 672.0+ bytes

In [16]:
file2 = pd.read_csv("food.csv")
print(file2)

    Ingredient  Sweetness  Crunchiness   FoodType
0        apple         10            9      fruit
1        bacon          1            4    protein
2       banana         10            1      fruit
3       carrot          7           10  vegetable
4       celery          3           10  vegetable
5       cheese          1            1    protein
6     cucumber          2            8  vegetable
7         fish          3            1    protein
8        grape          8            5      fruit
9   green bean          3            7  vegetable
10     lettuce          1            9  vegetable
11        nuts          3            6    protein
12      orange          7            3      fruit
13        pear         10            7      fruit
14      shrimp          2            3    protein

In [17]:
file2.tail()

   Ingredient  Sweetness  Crunchiness   FoodType
10    lettuce          1            9  vegetable
11       nuts          3            6    protein
12     orange          7            3      fruit
13       pear         10            7      fruit
14     shrimp          2            3    protein

In [19]:
file2.head()

  Ingredient  Sweetness  Crunchiness   FoodType
0      apple         10            9      fruit
1      bacon          1            4    protein
2     banana         10            1      fruit
3     carrot          7           10  vegetable
4     celery          3           10  vegetable

In [21]:
a=[1,2,3]
b=["Jaseem","Adwait","Hani"]
print(pd.Series(b,index=a))

1    Jaseem
2    Adwait
3      Hani
dtype: object

In [40]:
print(file.corr(method='pearson'))

             Crunchiness
Crunchiness          1.0

In [24]:
print(file.describe())

       Crunchiness
count    17.000000
mean      5.176471
std       3.321056
min       1.000000
25%       3.000000
50%       5.000000
75%       8.000000
max      10.000000

In [36]:
print(file.std())

Crunchiness    3.180671
dtype: float64

C:\Users\MCA01\AppData\Local\Temp/ipykernel_15336/905215342.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(file.std())

In [27]:
print(pd.Series(exam))

mon          eng
Tue    Malayalam
dtype: object

In [28]:
new_df = file.dropna()

print(new_df.to_string())

    Ingredient Sweetness  Crunchiness   FoodType
0        apple        10            9      fruit
1        bacon         1            4    protein
2       banana        10            1      fruit
3       carrot         7           10  vegetable
5       cheese         1            1    protein
6     cucumber         2            8  vegetable
7         fish         3            1        123
8        grape         8            5      fruit
9   green bean         3            7  vegetable
10     lettuce        AA            9  vegetable
11        nuts         3            6    protein
12      orange         7            3      fruit
13        pear        10            7      fruit
14      shrimp         2            3    protein
15      shrimp         2            3    protein
16      banana        10            1      fruit

In [29]:
file.dropna(inplace = True)

print(file.to_string())

    Ingredient Sweetness  Crunchiness   FoodType
0        apple        10            9      fruit
1        bacon         1            4    protein
2       banana        10            1      fruit
3       carrot         7           10  vegetable
5       cheese         1            1    protein
6     cucumber         2            8  vegetable
7         fish         3            1        123
8        grape         8            5      fruit
9   green bean         3            7  vegetable
10     lettuce        AA            9  vegetable
11        nuts         3            6    protein
12      orange         7            3      fruit
13        pear        10            7      fruit
14      shrimp         2            3    protein
15      shrimp         2            3    protein
16      banana        10            1      fruit

In [31]:
file3 = pd.read_csv("food 3.csv")
print(file3)

   ROLL NO ADMISSION NO REGISTER NUMBER         DEGREE  SEM ACADEMIC YEAR
0        1      A22 656   AWH22MCA-2001  MCA TWO YEARS   S1   2022 - 2023
1        2    A22LAP623   AWH22MCA-2002  MCA TWO YEARS   S1   2022 - 2023
2        3  A22 LAP 619   2003-AWH22MCA  MCA TWO YEARS   S1   2022 - 2023
3        4  A22 LAP 620   AWH22MCA-2004  MCA TWO YEARS   S1   2022 - 2023
4        5  A22 LAP 618   AWH22MCA-2007  MCA TWO YEARS   S1   2022 - 2023
5        6      A22 654   AWH22MCA-2006            NaN   S1   2022 - 2023
6        7  A22 LAP 621   AWH22MCA-2005  MCA TWO YEARS   S1   2022 - 2023
7        8    A22LAP627   AWH22MCA-2008  MCA TWO YEARS   S1   2022 - 2023
8       AA      A22 640   AWH22MCA-2009  MCA TWO YEARS  123         22-23
9       10      A22G607   AWH22MCA-2010  MCA TWO YEARS   S1   2022 - 2023
10      10      A22G607   AWH22MCA-2010  MCA TWO YEARS   S1   2022 - 2023
11       6      A22 654   AWH22MCA-2006            NaN   S1   2022 - 2023

In [32]:
print(file3.fillna("BTECH"))

   ROLL NO ADMISSION NO REGISTER NUMBER         DEGREE  SEM ACADEMIC YEAR
0        1      A22 656   AWH22MCA-2001  MCA TWO YEARS   S1   2022 - 2023
1        2    A22LAP623   AWH22MCA-2002  MCA TWO YEARS   S1   2022 - 2023
2        3  A22 LAP 619   2003-AWH22MCA  MCA TWO YEARS   S1   2022 - 2023
3        4  A22 LAP 620   AWH22MCA-2004  MCA TWO YEARS   S1   2022 - 2023
4        5  A22 LAP 618   AWH22MCA-2007  MCA TWO YEARS   S1   2022 - 2023
5        6      A22 654   AWH22MCA-2006          BTECH   S1   2022 - 2023
6        7  A22 LAP 621   AWH22MCA-2005  MCA TWO YEARS   S1   2022 - 2023
7        8    A22LAP627   AWH22MCA-2008  MCA TWO YEARS   S1   2022 - 2023
8       AA      A22 640   AWH22MCA-2009  MCA TWO YEARS  123         22-23
9       10      A22G607   AWH22MCA-2010  MCA TWO YEARS   S1   2022 - 2023
10      10      A22G607   AWH22MCA-2010  MCA TWO YEARS   S1   2022 - 2023
11       6      A22 654   AWH22MCA-2006          BTECH   S1   2022 - 2023

In [33]:
print(file3.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
dtype: bool

In [38]:
print(file3.shape())

TypeError: 'tuple' object is not callable