In [7]:
import pandas as pd
names = ['a','b','c']
print(pd.Series(names,index=['x','y','z']))

x    a
y    b
z    c
dtype: object

In [6]:
colors=['red','blue','green','yellow']
print(pd.Series(colors,index=['w','x','y','z']))

w       red
x      blue
y     green
z    yellow
dtype: object

In [11]:
booking={'day1':100,'day2':200,'day3':300}
bid=pd.Series(booking)
print(bid)

day1    100
day2    200
day3    300
dtype: int64

In [28]:
pf=pd.read_csv("food.csv")
pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ingredient   15 non-null     object
 1   Sweetness    15 non-null     int64
 2   Crunchiness  15 non-null     int64
 3   FoodType     15 non-null     object
dtypes: int64(2), object(2)
memory usage: 608.0+ bytes

In [29]:
pf.head()

  Ingredient  Sweetness  Crunchiness   FoodType
0      apple         10            9      fruit
1      bacon          1            4    protein
2     banana         10            1      fruit
3     carrot          7           10  vegetable
4     celery          3           10  vegetable

In [30]:
pf.tail()

   Ingredient  Sweetness  Crunchiness   FoodType
10    lettuce          1            9  vegetable
11       nuts          3            6    protein
12     orange          7            3      fruit
13       pear         10            7      fruit
14     shrimp          2            3    protein

In [31]:
print(pf.describe())

       Sweetness  Crunchiness
count  15.000000    15.000000
mean    4.733333     5.600000
std     3.514595     3.290679
min     1.000000     1.000000
25%     2.000000     3.000000
50%     3.000000     6.000000
75%     7.500000     8.500000
max    10.000000    10.000000

In [32]:
pf.corr(method='pearson')

             Sweetness  Crunchiness
Sweetness     1.000000     0.070407
Crunchiness   0.070407     1.000000

In [33]:
pf[:3]

  Ingredient  Sweetness  Crunchiness FoodType
0      apple         10            9    fruit
1      bacon          1            4  protein
2     banana         10            1    fruit

In [34]:
pf.iloc[2:4,1:3]

   Sweetness  Crunchiness
2         10            1
3          7           10