In [5]:
import pandas as pd

df = pd.read_csv('food.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ingredient   15 non-null     object
 1   Sweetness    15 non-null     int64
 2   Crunchiness  15 non-null     int64
 3   FoodType     15 non-null     object
dtypes: int64(2), object(2)
memory usage: 608.0+ bytes

In [18]:
df = pd.read_csv('food.csv')

df.head()

  Ingredient  Sweetness  Crunchiness   FoodType
0      apple         10            9      fruit
1      bacon          1            4    protein
2     banana         10            1      fruit
3     carrot          7           10  vegetable
4     celery          3           10  vegetable

In [27]:
df.shape

(15, 4)

In [19]:
df.describe()

       Sweetness  Crunchiness
count  15.000000    15.000000
mean    4.733333     5.600000
std     3.514595     3.290679
min     1.000000     1.000000
25%     2.000000     3.000000
50%     3.000000     6.000000
75%     7.500000     8.500000
max    10.000000    10.000000

In [28]:
df.slice[2:4,1:3]

AttributeError: 'DataFrame' object has no attribute 'slice'

In [23]:
df.iloc[0:3, 1:4]

   Sweetness  Crunchiness FoodType
0         10            9    fruit
1          1            4  protein
2         10            1    fruit

In [25]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of     Ingredient  Sweetness  Crunchiness   FoodType
0        apple         10            9      fruit
1        bacon          1            4    protein
2       banana         10            1      fruit
3       carrot          7           10  vegetable
4       celery          3           10  vegetable
5       cheese          1            1    protein
6     cucumber          2            8  vegetable
7         fish          3            1    protein
8        grape          8            5      fruit
9   green bean          3            7  vegetable
10     lettuce          1            9  vegetable
11        nuts          3            6    protein
12      orange          7            3      fruit
13        pear         10            7      fruit
14      shrimp          2            3    protein>

In [31]:
x=df['sweetness'].fillna(mean_sweetness,inplace=True)
print(x)

KeyError: 'sweetness'

In [29]:
print(df)
for x in df.index:
    if df.loc[x, 'FoodType'] != 'fruit' and df.loc[x, 'FoodType'] != 'vegetable' and df.loc[x, 'FoodType'] != 'protein' :
        df.drop(x,inplace = True)
print(df)

    Ingredient  Sweetness  Crunchiness   FoodType
0        apple         10            9      fruit
1        bacon          1            4    protein
2       banana         10            1      fruit
3       carrot          7           10  vegetable
4       celery          3           10  vegetable
5       cheese          1            1    protein
6     cucumber          2            8  vegetable
7         fish          3            1    protein
8        grape          8            5      fruit
9   green bean          3            7  vegetable
10     lettuce          1            9  vegetable
11        nuts          3            6    protein
12      orange          7            3      fruit
13        pear         10            7      fruit
14      shrimp          2            3    protein
    Ingredient  Sweetness  Crunchiness   FoodType
0        apple         10            9      fruit
1        bacon          1            4    protein
2       banana         10            1      fruit
3       carrot          7           10  vegetable
4       celery          3           10  vegetable
5       cheese          1            1    protein
6     cucumber          2            8  vegetable
7         fish          3            1    protein
8        grape          8            5      fruit
9   green bean          3            7  vegetable
10     lettuce          1            9  vegetable
11        nuts          3            6    protein
12      orange          7            3      fruit
13        pear         10            7      fruit
14      shrimp          2            3    protein

In [30]:
df.tail()

   Ingredient  Sweetness  Crunchiness   FoodType
10    lettuce          1            9  vegetable
11       nuts          3            6    protein
12     orange          7            3      fruit
13       pear         10            7      fruit
14     shrimp          2            3    protein

In [32]:
print(df)
df.info()
df.DataFrame(df)
df.head(5)
df.tail()

    Ingredient  Sweetness  Crunchiness   FoodType
0        apple         10            9      fruit
1        bacon          1            4    protein
2       banana         10            1      fruit
3       carrot          7           10  vegetable
4       celery          3           10  vegetable
5       cheese          1            1    protein
6     cucumber          2            8  vegetable
7         fish          3            1    protein
8        grape          8            5      fruit
9   green bean          3            7  vegetable
10     lettuce          1            9  vegetable
11        nuts          3            6    protein
12      orange          7            3      fruit
13        pear         10            7      fruit
14      shrimp          2            3    protein

In [33]:
df['Crunchiness']=df['Crunchiness'].astype('float')
print(df)

    Ingredient  Sweetness  Crunchiness   FoodType
0        apple         10          9.0      fruit
1        bacon          1          4.0    protein
2       banana         10          1.0      fruit
3       carrot          7         10.0  vegetable
4       celery          3         10.0  vegetable
5       cheese          1          1.0    protein
6     cucumber          2          8.0  vegetable
7         fish          3          1.0    protein
8        grape          8          5.0      fruit
9   green bean          3          7.0  vegetable
10     lettuce          1          9.0  vegetable
11        nuts          3          6.0    protein
12      orange          7          3.0      fruit
13        pear         10          7.0      fruit
14      shrimp          2          3.0    protein