In [10]:
import pandas as pd
a=[1,2,3]
print(pd.Series(a,index=['x','y','z']))
colors=['red','blue','green','yellow']
print("\n")
print(pd.Series(colors,index=[1,2,3,4]))

x    1
y    2
z    3
dtype: int64


1       red
2      blue
3     green
4    yellow
dtype: object

In [11]:
print('\n')
exam={'mon':'eng','tue':'mal','wed':'hindi'}
eid=pd.Series(exam)
print(eid)
exam={'mon':['social','eng'],'tue':'mal','wed':'hindi'}
eid=pd.Series(exam)
print(eid)

mon      eng
tue      mal
wed    hindi
dtype: object
mon    [social, eng]
tue              mal
wed            hindi
dtype: object

In [15]:
import pandas as pd
pf=pd.read_csv("food_cleaning.csv")
pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ingredient   17 non-null     object
 1   Sweetness    16 non-null     object
 2   Crunchiness  17 non-null     int64
 3   FoodType     17 non-null     object
dtypes: int64(1), object(3)
memory usage: 672.0+ bytes

In [16]:
pf.head()

  Ingredient Sweetness  Crunchiness   FoodType
0      apple        10            9      fruit
1      bacon         1            4    protein
2     banana        10            1      fruit
3     carrot         7           10  vegetable
4     celery       NaN           10  vegetable

In [20]:
new_data=pf.dropna()
print(new_data)

    Ingredient Sweetness  Crunchiness   FoodType
0        apple        10            9      fruit
1        bacon         1            4    protein
2       banana        10            1      fruit
3       carrot         7           10  vegetable
5       cheese         1            1    protein
6     cucumber         2            8  vegetable
7         fish         3            1        123
8        grape         8            5      fruit
9   green bean         3            7  vegetable
10     lettuce        AA            9  vegetable
11        nuts         3            6    protein
12      orange         7            3      fruit
13        pear        10            7      fruit
14      shrimp         2            3    protein
15      shrimp         2            3    protein
16      banana        10            1      fruit

In [24]:
pf.duplicated().any()
pf.drop_duplicates(inplace=True)
print(pf)

    Ingredient Sweetness  Crunchiness   FoodType
0        apple        10            9      fruit
1        bacon         1            4    protein
2       banana        10            1      fruit
3       carrot         7           10  vegetable
4       celery       NaN           10  vegetable
5       cheese         1            1    protein
6     cucumber         2            8  vegetable
7         fish         3            1        123
8        grape         8            5      fruit
9   green bean         3            7  vegetable
10     lettuce        AA            9  vegetable
11        nuts         3            6    protein
12      orange         7            3      fruit
13        pear        10            7      fruit
14      shrimp         2            3    protein

In [32]:
print(pf.describe())

       Crunchiness
count    15.000000
mean      5.600000
std       3.290679
min       1.000000
25%       3.000000
50%       6.000000
75%       8.500000
max      10.000000

In [21]:
import pandas as pd
df = pd.read_csv('food.csv')
print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


    Ingredient  Sweetness  Crunchiness   FoodType
0        apple         10            9      fruit
1        bacon          1            4    protein
2       banana         10            1      fruit
3       carrot          7           10  vegetable
4       celery          3           10  vegetable
5       cheese          1            1    protein
6     cucumber          2            8  vegetable
7         fish          3            1    protein
8        grape          8            5      fruit
9   green bean          3            7  vegetable
10     lettuce          1            9  vegetable
11        nuts          3            6    protein
12      orange          7            3      fruit
13        pear         10            7      fruit
14      shrimp          2            3    protein

In [22]:
print("\n")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ingredient   15 non-null     object
 1   Sweetness    15 non-null     int64
 2   Crunchiness  15 non-null     int64
 3   FoodType     15 non-null     object
dtypes: int64(2), object(2)
memory usage: 608.0+ bytes
None

In [25]:
print("\n")
print(df.head(5))
print("\n")
print(df.tail(2))

  Ingredient  Sweetness  Crunchiness   FoodType
0      apple         10            9      fruit
1      bacon          1            4    protein
2     banana         10            1      fruit
3     carrot          7           10  vegetable
4     celery          3           10  vegetable


   Ingredient  Sweetness  Crunchiness FoodType
13       pear         10            7    fruit
14     shrimp          2            3  protein

In [33]:
print(df.describe())

       Sweetness  Crunchiness
count  15.000000    15.000000
mean    4.733333     5.600000
std     3.514595     3.290679
min     1.000000     1.000000
25%     2.000000     3.000000
50%     3.000000     6.000000
75%     7.500000     8.500000
max    10.000000    10.000000

In [34]:
print(df.corr())

             Sweetness  Crunchiness
Sweetness     1.000000     0.070407
Crunchiness   0.070407     1.000000

In [37]:
mean_value = df['Sweetness'].mean()
print(mean_value)

4.733333333333333

In [38]:
df['Crunchiness']=df['Crunchiness'].astype('float')
print(df)

    Ingredient  Sweetness  Crunchiness   FoodType
0        apple         10          9.0      fruit
1        bacon          1          4.0    protein
2       banana         10          1.0      fruit
3       carrot          7         10.0  vegetable
4       celery          3         10.0  vegetable
5       cheese          1          1.0    protein
6     cucumber          2          8.0  vegetable
7         fish          3          1.0    protein
8        grape          8          5.0      fruit
9   green bean          3          7.0  vegetable
10     lettuce          1          9.0  vegetable
11        nuts          3          6.0    protein
12      orange          7          3.0      fruit
13        pear         10          7.0      fruit
14      shrimp          2          3.0    protein