In [58]:
import pandas as pd
pf = pd.read_csv("food_cleaning.csv")
pf.info()
print(pf)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ingredient   17 non-null     object
 1   Sweetness    16 non-null     object
 2   Crunchiness  17 non-null     int64
 3   FoodType     17 non-null     object
dtypes: int64(1), object(3)
memory usage: 672.0+ bytes
    Ingredient Sweetness  Crunchiness   FoodType
0        apple        10            9      fruit
1        bacon         1            4    protein
2       banana        10            1      fruit
3       carrot         7           10  vegetable
4       celery       NaN           10  vegetable
5       cheese         1            1    protein
6     cucumber         2            8  vegetable
7         fish         3            1        123
8        grape         8            5      fruit
9   green bean         3            7  vegetable
10     lettuce        AA            9  vegetable
11        nuts         3            6    protein
12      orange         7            3      fruit
13        pear        10            7      fruit
14      shrimp         2            3    protein
15      shrimp         2            3    protein
16      banana        10            1      fruit

In [25]:
pf.head(5)

  Ingredient Sweetness  Crunchiness   FoodType
0      apple        10            9      fruit
1      bacon         1            4    protein
2     banana        10            1      fruit
3     carrot         7           10  vegetable
4     celery       NaN           10  vegetable

In [24]:
pf.tail(2)

   Ingredient Sweetness  Crunchiness FoodType
15     shrimp         2            3  protein
16     banana        10            1    fruit

In [29]:
pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ingredient   17 non-null     object
 1   Sweetness    16 non-null     object
 2   Crunchiness  17 non-null     int64
 3   FoodType     17 non-null     object
dtypes: int64(1), object(3)
memory usage: 672.0+ bytes

In [28]:
pf.shape

(17, 4)

In [23]:
pf.describe()

       Crunchiness
count    17.000000
mean      5.176471
std       3.321056
min       1.000000
25%       3.000000
50%       5.000000
75%       8.000000
max      10.000000

In [51]:
print(pf.corr(method='pearson'))

             Crunchiness
Crunchiness          1.0

In [21]:
pf[:3]

  Ingredient Sweetness  Crunchiness FoodType
0      apple        10            9    fruit
1      bacon         1            4  protein
2     banana        10            1    fruit

In [37]:
pf.iloc[2:4,1:3]

  Sweetness  Crunchiness
2        10            1
3         7           10

In [40]:
print(pf.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16     True
dtype: bool

In [45]:
pf.fillna(6)

    Ingredient Sweetness  Crunchiness   FoodType
0        apple        10            9      fruit
1        bacon         1            4    protein
2       banana        10            1      fruit
3       carrot         7           10  vegetable
4       celery         6           10  vegetable
5       cheese         1            1    protein
6     cucumber         2            8  vegetable
7         fish         3            1        123
8        grape         8            5      fruit
9   green bean         3            7  vegetable
10     lettuce        AA            9  vegetable
11        nuts         3            6    protein
12      orange         7            3      fruit
13        pear        10            7      fruit
14      shrimp         2            3    protein
15      shrimp         2            3    protein
16      banana        10            1      fruit

In [49]:
print(pf.dropna())

    Ingredient Sweetness  Crunchiness   FoodType
0        apple        10            9      fruit
1        bacon         1            4    protein
2       banana        10            1      fruit
3       carrot         7           10  vegetable
5       cheese         1            1    protein
6     cucumber         2            8  vegetable
7         fish         3            1        123
8        grape         8            5      fruit
9   green bean         3            7  vegetable
10     lettuce        AA            9  vegetable
11        nuts         3            6    protein
12      orange         7            3      fruit
13        pear        10            7      fruit
14      shrimp         2            3    protein
15      shrimp         2            3    protein
16      banana        10            1      fruit

In [80]:
pf['Crunchiness']=pf['Crunchiness'].astype(float)
print(pf)

    Ingredient Sweetness  Crunchiness   FoodType
0        apple        10          9.0      fruit
1        bacon         1          4.0    protein
2       banana        10          1.0      fruit
3       carrot         7         10.0  vegetable
4       celery       NaN         10.0  vegetable
5       cheese         1          1.0    protein
6     cucumber         2          8.0  vegetable
7         fish         3          1.0        123
8        grape         8          5.0      fruit
9   green bean         3          7.0  vegetable
10     lettuce        AA          9.0  vegetable
11        nuts         3          6.0    protein
12      orange         7          3.0      fruit
13        pear        10          7.0      fruit
14      shrimp         2          3.0    protein
15      shrimp         2          3.0    protein
16      banana        10          1.0      fruit

In [79]:
mean_sweetness = pf['Sweetness'].mean()
print(mean_sweetness)
pf['sweetness'].filna(mean_sweetness,inplace = True)
print(pf)

TypeError: can only concatenate str (not "int") to str

In [81]:
pf.mean(axis=1,skipna=True)

C:\Users\MCA06\AppData\Local\Temp/ipykernel_8672/1555980790.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pf.mean(axis=1,skipna=True)

0      9.0
1      4.0
2      1.0
3     10.0
4     10.0
5      1.0
6      8.0
7      1.0
8      5.0
9      7.0
10     9.0
11     6.0
12     3.0
13     7.0
14     3.0
15     3.0
16     1.0
dtype: float64